/bin
/tmp
/target
.DS_Store
*.tmp
*.bak
*.log
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/wingko_basic/.svn
/wingko_basic/.settings/
/wingko_basic/target
.DS_Store
/src/main/webapp/resources/img/main/*.png

