@charset "utf-8";
.hidden{ display: none; }
.hand{cursor: pointer;}

.img150x80{width: 125px; height: 80px;}
.img150x95{width: 150px; height: 95px;}
.img760x340{width: 760px; height: 340px;}


.map_image {margin-right: 10px; width: 80px; height: 80px;}
.map_title {font-size: 14px; color: #333 ; font-weight: bold;font-family:"microsoft yahei","simehei", "Tahoma" , "Helvetica", "sans-serif"; width:320px; padding-left:5px; height:25px}
.map_addr {font-size: 12px; color: #555 ;font-family:"microsoft yahei","simehei", "Tahoma" , "Helvetica", "sans-serif";width:320px;padding-left:5px; vertical-align:top}
.coupon_image {width: 553px; height: 101px;}
.travel_image {width: 208px; height: 130px;}



/* .place_txt dl dt dd 대응 */
.place_txt p {font-size:12px; color:#787878; line-height:18px; margin-bottom:15px;}

/* .st_map_view 대응 */
.store_map_view{float:left; width:450px; height:310px; }
/* 
.time{width:184px; height:131px; background:url(/resources/img/main/time.png) no-repeat; margin-left:27px; margin-top:12px; }시간위젯
.hour{width:55px; height:47px; padding-top:8px; display:inline-block; text-align:center; color:#4e4d52; font-size:32px; font-family:verdana; font-weight:bold; margin-left:30px; margin-top:21px;}
.minute{width:55px; height:47px; padding-top:8px; display:inline-block; text-align:center; color:#4e4d52; font-size:32px; font-family:verdana; font-weight:bold; margin-left:15px;}
.t_date{font-size:12px; color:#fff; font-family:verdana,Arial; margin-top:7px; text-align:center; line-height:17px;}
.red{color: #ff0000}
 */

/*etc-*/
.mt_5 {margin-top:5px;}