<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wingko</title>
<link rel="stylesheet" type="text/css" href="../inc/css/sub.css" />
</head>

<body>
<div id="Wrapper">
   	<div id="Top">
    	<ul class="header"><!--탑메뉴-->
        	<li class="first"><a href="#"><img src="/resources/img/menu/top_menu01.png" alt="登录" /></a></li>
            <li><a href="#"><img src="/resources/img/menu/top_menu02.png" alt="注册会员" /></a></li>
            <li><a href="#"><img src="/resources/img/menu/top_menu03.png" alt="My Page" /></a></li>
            <li><a href="#"><img src="/resources/img/menu/top_menu04.png" alt="wing show" /></a></li>
            <li><a href="#"><img src="/resources/img/menu/top_menu05.png" alt="Visa" /></a></li>
            <li><a href="#"><img src="/resources/img/menu/top_menu06.png" alt="Job Info" /></a></li>
            <li class="end"><a href="#"><img src="/resources/img/menu/top_menu07.png" alt="Community" /></a></li>
        </ul>
        <div class="logo"><a href="../index.html"><img src="/resources/img/logo.png" alt="wingko story" /></a></div><!--로고-->
        <div class="search"><!--검색창-->
        	<input type="text" class="s_txt" value="검색"/><a href="#"><img src="/resources/img/main/suggest.png" alt="서제스트" style="vertical-align:bottom " /></a><a href="#"><img src="/resources/img/main/m_search.png" alt="검색" style="vertical-align:bottom"/></a>
        </div>
        <div class="top_banner">
        	<div class="b_pic_prev"></div><!--이전배너 절대값버튼-->
        	<div class="b_pic_next"></div><!--다음배너 절대값버튼-->
            <img src="/resources/img/main/main_banner.png" alt="배너" /><!--배너. 배너사이즈는 222*118을 넘으면 안됨.-->
        </div>
        <ul class="m_menu"><!--메인메뉴-->
        	<li class="first"><a href="#"><img src="/resources/img/menu/m_menu01.png" alt="查看全部菜单" /></a></li>
        	<li class="second"><a href="#"><img src="/resources/img/menu/m_menu02.png" alt="韩国旅游信息" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu03.png" alt="地区" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu04.png" alt="购物" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu05.png" alt="住宿" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu06.png" alt="美食" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu07.png" alt="美容" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu08.png" alt="医疗" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/m_menu09.png" alt="文化" /></a></li>
        	<li class="end"><a href="#"><img src="/resources/img/menu/m_menu10.png" alt="wingshow?" /></a></li>
        </ul>
    </div>
	<div id="Content">
    	<ul class="location">
        	<li class="first"><img src="/resources/img/home.png" alt="home" /></li><li class="end">My Page</li>
        </ul>
        <div class="sub_tit"><img src="/resources/img/title/my_page.png" alt="My Page" /></div><!--title-->
        <ul class="my_tab"><!--마이페이지 상단탭-->
        	<li><a href="#"><img src="/resources/img/menu/my_tab01_on.png" alt="新消息" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/my_tab02.png" alt="推荐信息" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/my_tab03.png" alt="特辑专栏" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/my_tab04.png" alt="旅行表演" /></a></li>
        </ul>
        <table class="my_info">
        	<caption>정보변경</caption>
            <colgroup>
            	<col width="25%" />
                <col width="75%" />
            </colgroup>
            <tr>
            	<th>姓名</th>
                <td>会员姓名</td>
            </tr>
            <tr>
            	<th rowspan="3">昵称</th>
                <td class="connection">mihwamanse11 <a href="#"><img src="/resources/img/button/btn_modify.png" alt="更改" align="absmiddle"/></a></td>
            </tr>
            <tr>
                <td class="connection"><input type="text" class="login_txt" style="width:60%;" /> <a href="#"><img src="/resources/img/button/btn_overlap.png" alt="重复检查" align="absmiddle" /></a></td>
            </tr>
            <tr>
                <td class="noti">可以用这个绰号</td><!--변경가능한 닉네임입니다. //사용불가능한 닉네임입니다（不可以用这个绰号）-->
            </tr>
            <tr>
            	<th rowspan="3">电子邮件</th>
                <td class="connection">abcde@nate.com <a href="#"><img src="/resources/img/button/btn_modify.png" alt="更改" align="absmiddle" /></a></td>
            </tr>
            <tr>
                <td class="connection"><input type="text" class="login_txt" style="width:60%;" /> <a href="#"><img src="/resources/img/button/btn_overlap.png" alt="重复检查" align="absmiddle"/></a></td>
            </tr>
            <tr>
                <td class="noti">可以用这个绰号</td><!--변경가능한 닉네임입니다. //사용불가능한 닉네임입니다（不可以用这个绰号）-->
            </tr>
            <tr>
            	<th rowspan="2">手机号码</th>
                <td class="connection">010-1243-1254 <a href="#"><img src="/resources/img/button/btn_modify.png" alt="更改" align="absmiddle" /></a></td>
            </tr>
            <tr>
                <td class="noti2">购买或预约时，可联系的号码. 无法联系时，免除责任事项介绍</td><!--구매나 예약시 연락 가능한 번호입니다. 연락 불가능시 책임면책사항 안내-->
            </tr>
            <tr>
            	<th rowspan="3">密码</th>
                <td class="connection">现有密码 <input type="password" class="login_txt" style="width:40%; margin-left:30px;" /></td>
            </tr>
             <tr>
                <td class="connection">新密码 <input type="password" class="login_txt" style="width:40%; margin-left:43px;" /></td>
            </tr>
             <tr>
                <td>确认新的密码 &nbsp;&nbsp;<input type="password" class="login_txt" style="width:40%;" /> <a href="#"><img src="/resources/img/button/btn_modify.png" alt="更改" align="absmiddle"/></a></td>
            </tr>
       </table>
       <div class="bt_center"><a href="#"><img src="/resources/img/button/btn_ok.png" alt="确认" /></a> <a href="#"><img src="/resources/img/button/btn_cancel.png" alt="取消" /></a></div>
       <br/><br/><br/>
       <img src="/resources/img/banner/bottom_banner2.png" alt="배너" />
    </div>
    <div id="Right">
    	<a href="#"><img src="/resources/img/banner/right_01.png" alt="배너" class="sp67" /></a>
        <a href="#"><img src="/resources/img/banner/deal.png" alt="이달의 딜" class="sp67_d"/></a>
        <ul class="right_tab"> <!--환율,교통,날씨 탭-->
        	<li><a href="#"><img src="/resources/img/menu/right_tab01_on.png" alt="汇率" /></a></li> <!--ON되었을때 이미지명_on-->
        	<li><a href="#"><img src="/resources/img/menu/right_tab02.png" alt="天气" /></a></li>
        	<li><a href="#"><img src="/resources/img/menu/right_tab03.png" alt="地图" /></a></li>
        </ul>
		<img src="/resources/img/title/right_tit_exchange_rate.png" alt="汇率" class="sp67" /> <!--제목 교통은 right_tit_traffic.png / 날씨는 right_tit_weather.png-->   	
        <div class="exchange_rate"><!--환율-->
        	<table class="ex_rate">
            	<caption>중국환율</caption>
                <colgroup>
                	<col width="30%" />
                    <col width="70%" />
                </colgroup>
                <tr>
                	<td colspan="2" class="date">2013.07.04 12:41:04</td>
                </tr>
                <tr>
                	<td colspan="2" class="rate">1元=184.26圆</td>
                </tr>
                <tr>
                	<th><img src="/resources/img/main/sell.png" alt="sell" /></th>
                	<td class="won">194,000</td>
                </tr>
                <tr>
                	<th><img src="/resources/img/main/buy.png" alt="buy" /></th>
                	<td class="won">194,000</td>
                </tr>
            </table>
            汇率计算器
            <ul>
            	<li><img src="/resources/img/main/exchange_korea.png" alt="korea" style="vertical-align:bottom;" /><input type="text" class="ex_txt" /></li>
                <li><img src="/resources/img/main/exchange_china.png" alt="china" style="vertical-align:bottom;" /><input type="text" class="ex_txt" /></li>
            </ul>
        </div>
        <img src="/resources/img/title/store_search.png" alt="가게점포검색"  />
        <div class="search_store">
        	카테고리<br/>
            <select class="select_store">
            	<option value="">상위 카테고리</option>
            </select>
            <select class="select_store">
            	<option value="">하위 카테고리</option>
            </select><br/>
        	위치<br/>
            <select class="select_store">
            	<option value="">상위 카테고리</option>
            </select>
            <select class="select_store">
            	<option value="">하위 카테고리</option>
            </select>
            <div class="bt_right"><a href="#"><img src="/resources/img/button/store_search.png" alt="검색 检索" /></a></div>
        </div>
        <a href="#"><img src="/resources/img/banner/right_02.png" alt="배너" /></a>
    </div>
</div>
<div id="Bottom"><!--하단 카피라이트-->
	<div class="copyright">
    	<ul class="company">
        	<li class="first"><a href="#"><img src="/resources/img/main/b_menu01.png" alt="회사소개" /></a></li>
        	<li><a href="#"><img src="/resources/img/main/b_menu02.png" alt="문의" /></a></li>
        	<li><a href="#"><img src="/resources/img/main/b_menu03.png" alt="마케팅" /></a></li>
        </ul><br/>
        <img src="/resources/img/main/copyright.png" alt="wingko 주소 대표이사 사업자등록번호 카피라이트" /><!--후에 제대로 이미지 넣으면 alt값으로 꼭 내용 넣어주길-->
    </div>
</div>

</body>
</html>
