<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd" >
<properties>

	<comment>Upload Environment</comment>
	<entry key="uploadTempPath">/home/wingko/www/root/upload</entry>
	<entry key="urlPath">http://www.wingkostory.com/upload/</entry>

</properties>
